.emailbody {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    border-radius: 10px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.emailbody:hover {
    box-shadow: 2px 2px 4px skyblue;
    cursor: pointer;
}

.emailbody_left {
    margin-top: 8px;
    flex: 30%;
}


.emailbody_middle {
    flex: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .emailbody_right {
    margin-top: 10px;
    flex: 5%;
} */