.sidebar {
  height: 100vh;
  border-right: 1.5px solid whitesmoke;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar_options:hover{
   background-color: whitesmoke;
}

.compose_btn {
  color: rgb(56, 55, 55) !important;
  padding: 10px 20px !important;
  border-radius: 40px !important;
  box-shadow: 2px 2px 3px #ccc !important;
  margin: 15px !important;
}

.sidebar_options {
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 20px;
  padding: 0px 25px;
}

.sidebar_options svg {
  color: rgb(94, 94, 94);
  font-size: 20px;
  width: 20px;
}

.sidebar_options h2 {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}

.sidebar_options p {
  font-size: 15px;
  margin-left: 80px;
  font-weight: bold;
}
