.main_header {
  background-color: black;
  color: whitesmoke;
}

#root {
  /* background-image: url('https://img.freepik.com/free-vector/pack-red-mailboxes-isometric-style_23-2147609238.jpg?w=740&t=st=1678874882~exp=1678875482~hmac=1f11aa2a82a591de639b45ef09a91c4c93c446acdf730d64f397c29b444963ac'); */
  font-family: Georgia, 'Times New Roman', Times, serif;
}
